

<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
<div class="abs-back"></div>
  
<div class="wel">
<div class="wel-info">

<h1>OUR MISSION</h1>
<span class="brk1"></span>
<p id="hh">To create a social platform for students on campus to interact and solve their problems as a group.</p>
</div>
</div>
</div>
<div class="container who-we">
<div class="wel-info text-center">

<h2>OUR STORY</h2>
<span class="brk"></span>
<p>Going through College these days is very difficult, and it takes a lot of hard work and dedication for one to successfully graduate. With that been said, it is also easier if one gets help from people around since it lightens the burden of been in college.
	</p>
	<p> 
YourCampusNeeds sets out to find a solution to ease the problem by creating a social platform web application which can be assessed by students on campus. This web application will give students the opportunity to interact with each other, sell, buy and seek transportation from other students.
	</p>
	<p>
Students can create accounts and log in to create post and also access posts created by other students.
	</p><p>
The application contains a “Square” interface which consists of a Market, Transit and Social.
	</p><p>
As the name implies, Market is a platform for buying and selling products. Transit is a platform for requesting rides between places on campus, and Social is a platform for Social interactions like meet ups and having joint lunches.
</p>

</div>
</div>
<!-- Container -->

<div class="container-fluid cards-row">
<div class="container">

<div class="grid">
					<figure class="effect-hera">
						<img src="../assets/Andrew.jpg" alt="Andrew Madden"/>
						<figcaption>
							<h2>Andrew<span>Madden</span></h2>
							<p>
								<a href="#"><i class="fa fa-envelope"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
							</p>
						</figcaption>			
					</figure>
					<figure class="effect-hera">
						<img src="../assets/Chris.jpg" alt="Chris Daly"/>
						<figcaption>
							<h2>Chris<span>Daly</span></h2>
							<p>
								<a href="#"><i class="fa fa-envelope"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
							</p>
						</figcaption>			
					</figure>
				</div>

<div class="grid">
					<figure class="effect-hera">
						<img src="../assets/Mat.jpg" alt="Matthew Johnson"/>
						<figcaption>
							<h2>Matthew<span>Johnson</span></h2>
							<p>
								<a href="#"><i class="fa fa-envelope"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
							</p>
						</figcaption>			
					</figure>
					<figure class="effect-hera">
						<img src="../assets/Pham.jpg" alt="Phat Pham"/>
						<figcaption>
							<h2>Phat<span>Pham</span></h2>
							<p>
								<a href="#"><i class="fa fa-envelope"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
							</p>
						</figcaption>			
					</figure>
				</div>

<div class="grid">
					<figure class="effect-hera">
						<img src="../assets/Sam.jpg" alt="Samuel Buahin"/>
						<figcaption>
							<h2>Samuel<span>Buahin</span></h2>
							<p>
								<a href="#"><i class="fa fa-envelope"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
								<a href="#"><i class="fa fa-github"></i></a>
							</p>
						</figcaption>			
					</figure>
					<figure class="effect-hera">
						<img src="../assets/ycn.jpg" alt="YourCampusNeeds"/>
						<figcaption>
							<h2>Get-in-<span> Touch</span></h2>
							<p>		
								<a href="#"><i class="fa fa-envelope"></i></a>
								<a href="#"><i class="fa fa-google-plus"></i></a>
								<a href="#"><i class="fa fa-linkedin"></i></a>
							</p>
						</figcaption>			
					</figure>
				</div>
</div>
</div>