.custom-resize{
    width: 25%;
    height: 25%;
    padding: 4% 5% 0 5%;
}

.transit-offset {
    margin-top: -8%;
}

.custom-filter-spacing {
    margin-top: 4%;
    margin-bottom:1%;
}

.custom-inline {
    display: inline;
}

.custom-separator-spacing {
    padding-left: 1%;
    padding-right: 1%;
}

.custom-add-post-position {
    width: 100%;
    height: 100%;
    text-align: right;
    right: 0;
}

.customm-add-post-size {
    width: 5%;
    height:5%;
}

a {
    color: #707070;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

.custom-link-color{
    color: #16a085;
}

h3 {
    color: #707070;
}
