<div class="row">
  <div class="col-md-12 text-center">
    <div class="custom-add-post-position">
      <a (click)="createPostModal.open()"><img src="../../../assets/add-post-logo.png" class="customm-add-post-size" alt=""></a>
    </div>
    <span>
      <img src="../../../assets/money-icon-shadow.png" class="custom-resize" alt="">
      <img src="../../../assets/road-icon-shadow.png" class="custom-resize transit-offset" alt="">
      <img src="../../../assets/chat-icon-shadow.png" class="custom-resize" alt="">
    </span>
  </div>
</div>

<div class="row text-center custom-filter-spacing">
  <span>
    <h3 class="custom-inline"><a class="custom-link-color">Most Recent</a></h3>
    <h3 class="custom-inline custom-separator-spacing">|</h3>
    <h3 class="custom-inline"><a>Trending</a></h3>
  </span>
</div>

<!-- TODO: finish the post component and then inject it here -->
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <app-post class="text-center"></app-post>
  </div>
</div>

<modal #createPostModal title="Quick Post!">
  <modal-content>
    <app-create-post></app-create-post>
  </modal-content>
</modal>
