<div class="row">

  <h1>Connections made easy</h1>

  <body>
    <p>
      Let's not kid ourselves, College is hard especially if your
      new. Do you remember the cliche about having power in numbers?
      We at CampusNeeds believe that one hundred percent. So why
      not unite the force of people just like you to help each
      other accomplish a common goal, surviving? Wer'er here to do
      just that.
    </p>
  </body>
  <!--
  <div style="text-align: center;">
    <a (click)="register()" class="btn btn-default">Register</a>
    <a (click)="login()" class="btn btn-default">Login</a>
  </div>
  -->
  <div class="leftLinks">
    <a (click)="register()" class="btn btn-default">Register</a>
  </div>

  <div class="rightLinks">
    <a (click)="login()" class="btn btn-default">Login</a>
  </div>

</div>
