.ng-valid[required], .ng-valid.required  {
  border-left: 5px solid #16a085; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}

.custom-button-color {
  background-color: #16a085;
  color: white;
}

form {
  background-image: url("../../assets/register-bg.png");
  background-attachment: inherit;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 15%;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 10%;
  margin-top: 2%;
}

.form-group {
  font-family: 'Raleway', sans-serif;
  color: white;
}

h5 {
  color: white;
  text-align: center;
  font-size: 24px;
  font-family: 'Raleway', sans-serif;
}

input {
  opacity: .7;
}

button {
  font-family: 'Raleway', sans-serif;
}

.alert {
  font-family: 'Raleway', sans-serif;
}
.alert-success {
  background-color: #1abc9c;
  color: white;
}